<div class="container col-sm-12">
    <h1>Edit Account</h1>
    <form action="./edit" method="POST">
        <p>Choose your avatar:
             <div class="avatorcontainer">
           <div  class="grid-item"> <label><input type="radio" name="avatar" id="blue" value="blue.png"  ><img src="./avatar/blue.png" width="90"></label> </div>
           <div  class="grid-item"> <label><input type="radio" name="avatar" id="girl" value="girl.png" ><img src="./avatar/girl.png" width="90"></label> </div> 
           <div  class="grid-item"> <label><input type="radio" name="avatar" id="pink" value="pink.png" > <img src="./avatar/pink.png" width="90"></label> </div> 
           <div  class="grid-item"> <label><input type="radio" name="avatar" id="dragonite" value="Dragonite.png" > <img src="./avatar/Dragonite.png" width="120"></label> </div> 
           <div  class="grid-item">  <label><input type="radio" name="avatar" id="turtle" value="turtle.png" ><img src="./avatar/turtle.png" width="150"></label> </div> 
           <div  class="grid-item">  <label><input type="radio" name="avatar" id="mouse" value="mouse.png" > <img src="./avatar/mouse.png" width="90"></label> </div> 
           <div  class="grid-item">  <label><input type="radio" name="avatar" id="mickey" value="Mickey_Mouse_Disney_1.webp" > <img src="./avatar/Mickey_Mouse_Disney_1.webp" width="90"></label> </div> 
            </div>
        </p>
        <p>
            <label for="txtUsername">Username:</label>
            <input type="text" name="username" id="txtUsername" class="txtbox" placeholder="must be unique" value={{username}}>
        </p>
        <p>
            <label for="txtPassword">Choose password:</label>
            <input type="password" name="password" id="txtPassword" class="txtbox" placeholder="any combination of a.Z.1.8.$" value={{passowrd}}>
        </p>
        <p>
            <label for="txtPasswordRe">Re-enter password:</label>
            <input type="password" name="confirmedPassword" id="txtPasswordRe" class="txtbox" placeholder="same passwords as the first one" value={{confirmedPassword}}>
        </p>
        <p>
            <label for="txtName">Name:</label>
            <input type="text" name="name" id="txtName" class="txtbox" placeholder="full name" value={{name}}>
        </p>
        <p>
            <label for="txtBirthdat">Birthday:</label>
            <input type="text" name="birthday" id="txtBirthday" class="txtbox" placeholder="YYYY/MM/DD" value={{birthday}}>
        </p>
        <p>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="txtbox" placeholder="xx@yy" value={{email}}>
        </p>
        <p>
            <label for="txtIntroduction">Self Introduction:</label>
            <textarea id="txtIntroduction" rows="4" cols="40" name="introduction" class="txtbox" placeholder="briefly introduce yourself..">{{introduction}}</textarea>
        </p>
        <p>
            <button type="submit" class="btn">Submit</button>
        </p>
    </form>
</div>