<div class="container col-sm-12">
    {{#if toastMessage}}
    <p>{{toastMessage}}</p>
    {{/if}}


    <h1>Edit Account</h1>
    <form action="./edit" method="POST">
        <p>Choose your avatar:
            <label><input type="radio" name="avatar" id="blue" value="blue.png" {{#if avatar}}checked{{/if}}><img src="./avatar/blue.png" width="90"></label>
            <label><input type="radio" name="avatar" id="girl" value="girl.png" ><img src="./avatar/girl.png" width="90"></label>
            <label><input type="radio" name="avatar" id="pink" value="pink.png" > <img src="./avatar/pink.png" width="90"></label>
            <label><input type="radio" name="avatar" id="turtle" value="turtle.png"><img src="./avatar/turtle.png" width="150"></label>
            <label><input type="radio" name="avatar" id="mouse" value="mouse.png"> <img src="./avatar/mouse.png" width="90"></label>
            
        </p>
        <p>
            <label for="txtUsername">Username:</label>
            <input type="text" name="username" id="txtUsername" placeholder="must be unique" value={{username}} required>
            <p>{{username}}</p>
        </p>
        
        
        <p>
            <label for="txtPassword">Choose password:</label>
            <input type="password" name="password" id="txtPassword" placeholder="any combination of a.Z.1.8.$" value={{passowrd}} required>
        </p>

        <p>
            <label for="txtPasswordRe">Re-enter password:</label>
            <input type="password" name="confirmedPassword" id="txtPasswordRe" placeholder="must be the same as the chosen one" value={{confirmedPassword}} required>
        </p>
        
        

        <p>
            <label for="txtName">Name:</label>
            <input type="text" name="name" id="txtName" placeholder="full name" value={{name}}>
        </p>

        <p>
            <label for="txtBirthdat">Birthday:</label>
            <input type="text" name="birthday" id="txtBirthday" placeholder="YYYY/MM/DD" value={{birthday}}>
        </p>

        <p>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="xx@yy" value={{email}} required>
        </p>

        <p>
            <label for="txtIntroduction">Self Introduction:</label>
            <textarea id="txtIntroduction" rows="4" cols="40" name="introduction" placeholder="briefly introduce yourself..">{{introduction}}</textarea>
        </p>

        <p>
            <button type="submit">Submit</button>
        </p>
    </form>

</div>