<div class="container">

    <div id="login">
        <div class="dropdown">
            <button class="dropbtn">Login</button>
            <div class="dropdown-content">
                <form action="./login" method="POST">
                    <div class="flex-col mb">
                        <label for="txtUsername" class="txt">Username:</label>
                        <input type="text" id="txtUsername" name="username" required>
                    </div>
                    <div class="flex-col mb">
                        <label for="txtPassword" class="txt">Password:</label>
                        <input type="text" id="txtPassword" name="password" required>
                    </div>
                    <dev class="flex-row justify-sb align-right">
                        <button class="dropbt" type="submit" class="txt">Submit</button>
                    </dev>
                </form>
                <p>Don't have an account?
                    <a href="./newAccount">Create one here.</a>
                </p>
                <p>Forgot your password? Retrieve here
                    <button type="button" onclick="window.location.href='./retrieve';">Retrieve</button>
                </p>
            </div>
        </div>
    </div>

</div>


<div class="container">

    <h1>Hello, {{user.name}}!</h1>
    <p>This is your homepage!</p>
    <p>Click <a href="./logout">here</a> to log out.</p>
    <p>Click <a href="./edit">here</a> to edit account information.</p>
    <p>Click <a href="./delete">here</a> to delete account.</p>

    <div>
        <h1>All Articles:</h1>
    </div>

    <div>
        <ul>
            {{#each articles}}
            <li>
                <h2>{{this.title}}</h2>
                <h3>Written by {{this.name}}</h3>
                <h4>Posted on {{this.timestamp}}</h4>

                <div>{{{this.content}}}</div>

                <script>

                    function rating() {
                        const form = document.querySelector('starForm');
                        form.addEventListener('submit', event => {
                            const formData = new FormData(event.target);
                            const rating = formData.get('rating');
                            console.log(rating);
                            event.preventDefault();
                        });
                    }
                </script>




                <form id="starForm" onsubmit="rating()" action="#">
                    <div class="star-rating">
                        <input type="radio" id="5-stars" name="rating" value="5" />
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="rating" value="4" />
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="rating" value="3" />
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="rating" value="2" />
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="rating" value="1" />
                        <label for="1-star" class="star">&#9733;</label>
                    </div>
                    <button type="submit">Send</button>
                </form>

            </li>
            {{/each}}
        </ul>
    </div>


</div>