<div class="container col-sm-12">

    <div>
        <h1>My Articles:</h1>

        <button type="button" onclick="window.location.href='./new-article';" class="btn">Create New Article</button>

    </div>
    
    <div>
        {{#if userArticles}}
        <ul>
            {{#each userArticles}}
            <li>
                <h2>{{title}}</h2>
                <h3>Written by {{name}}</h3>
                <h4>Posted on {{timestamp}}</h4>
                <div>{{{content}}}</div>
                
                <form name="deleteArticle" action="./delete-article" method="POST">
                    <input type="hidden" name="articleId" id="deleteArticle" value="{{articleId}}">
                    <button type="submit" name="deleteArticle" class="btn">Delete</button>
                </form>
                <form name="editArticle" action="./edit-article" method="POST">
                    <input type="hidden" name="articleId" id="editArticle" value="{{articleId}}">
                    <button type="submit" name="editArticle" class="btn">Edit</button>
                </form>
            </li>
            {{/each}}
        </ul>
    

        
    
        {{else}}
        <p>You have no articles!</p>
        <button type="button" onclick="window.location.href='./new-article';" class="btn">Create One Here</button>

        {{/if}}
        <button type="button" class="btn" onclick="window.location.href='./login';" >See what others write!</button>

    </div>

</div>